body {
  background: #323F4B;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5rem;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #3E4C59;
  padding: 10px 20px;
  border: 1px solid #1F2933;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
  margin-right: 10px;
}

.navbar {
  background-color: #1F2933;
}

.navbar-brand, .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
  color: white;
}

.btn {
  background-color: #52606D;
  border-color: #1F2933;
  color: rgba(255, 255, 255, 0.8);
}

.btn:hover {
  background-color: #616E7C;
  color: white;
  border-color: #1F2933;
}

.form-control {
  background-color: #cbd2d9;
  border-color: #1F2933;
}

.form-control:focus {
  background-color: #ffffff;
  border-color: #1F2933;
}

.hyperlink {
  color: #cbd2d9;
}

.hyperlink:hover {
  color: #ffffff;
}

.success {
  color: lightgreen;
}

.text-secondary{
  color: rgba(255, 255, 255, 0.8) !important;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#map {
  background: none !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  margin-right: 1.6vw;
  justify-content: space-between;
}

.form-row label {
  margin-right: 12px;
  margin-left: none;
}

.form-row .commute-method-container {
  display: flex;
  align-items: center;
  margin-left: none;
  position: fixed;
  margin-left: 1.5vw;
}

.form-row .commute-method-container .btn {
  margin-left: 10px;
}

.form-row .get-directions-container {
  margin-left: auto;
}

#starting-point {
  position: fixed;
  margin-left: 3vw;
}

.embed-responsive-16by9 {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.embed-responsive-16by9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px #000000;
}