{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>About</h1><br>
        <b>Waywatch</b> allows users to explore and interact with cameras placed at various locations. Whether you're a travel enthusiast, a photography lover, or simply curious about different places, our app provides a unique experience to discover captivating views from around the world.<br><br>

            Key Features:<br>
            - <b>User Registration</b>: Create an account to access multiple features and personalize your experience.<br>
            - <b>Camera Viewing</b>: Browse through a wide selection of cameras placed in stunning locations worldwide.<br>
            - <b>Camera Details</b> Get detailed information about each camera, including its location, description, and available features.<br>
            - <b>Favorites</b>: Mark your favorite cameras for quick access and keep a collection of your preferred views.<br>
            - <b>Travel Planning</b>: Plan your trips by selecting cameras along your desired route and create an itinerary of breathtaking sights.<br>
            - <b>Premium Subscription</b>: Upgrade to our premium subscription for exclusive benefits, such as ad-free browsing and priority access to new cameras.<br><br>

            Whether you're an armchair traveler or a globetrotter, Waywatch is designed to provide a visually immersive and engaging experience. So, start exploring, capturing beautiful moments, and discovering the wonders of the world through our camera lenses.<br>
            Join our community today and embark on a virtual journey like never before!<br><br>

            If you have any questions or feedback, please don't hesitate to contact us.
    </div>
{% endblock content %}