{% extends "layout.html" %}
{% block content %}
<div class="row">
    {% for camera in cameras %}
        <div class="col-md-6">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('camera', camera_id=camera.id) }}">{{ camera.title }}</a>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ camera.get_embedded_video_src(camera.video_src) }}" allowfullscreen></iframe>
                    </div>
                    <p class="article-content">{{ camera.description }}</p>
                </div>
            </article>
        </div>
        {% if loop.index % 4 == 0 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}