{% extends "layout.html" %}

{% block content %}
    {% for camera in cameras %} <!-- city map will go here -->
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ camera.title }}</a>
                <small class="text-muted">{{ camera.update_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ camera.video_src }}</a></h2>
            <p class="article-content">{{ camera.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}