{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg", autofocus=true) }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
                <br><br>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{ url_for('request_reset')}}" class="hyperlink">Forgot Password?</a>
                </small>
            </div>
        </form>
    </div>
    <div class="pt-0">
        <small class="text-muted">
            Need An Account? <a class="ml-2 hyperlink" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}