{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Join Today</legend>
                {% for field in [form.username, form.email, form.password, form.confirm_password] %}
                    <div class="form-group">
                        {{ field.label(class="form-control-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset> <br><br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2 hyperlink" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}